{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended" // Add this line to extend React rules
  ],
  "settings": {
    "react": {
      "version": "detect" // Automatically detect the React version
    }
  },
  "plugins": ["react", "compat"],
  "rules": {
    "semi": [2, "never"],
    "no-unexpected-multiline": 2,
    "compat/compat": 2,
    "react/no-did-update-set-state": "error",
    "react/no-unknown-property": "error",
    "react/no-unused-prop-types": "error",
    "react/prop-types": "error",
    "react/react-in-jsx-scope": "error" // Only needed for React versions < 17
  },
  "env": {
    "browser": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020, // or 2021, depending on your setup
    "sourceType": "module", // Allows for the use of imports
    "ecmaFeatures": {
      "jsx": true // Enable JSX parsing
    }
  }
}
