/* > Mobile */
.about-content_fire-bottom {
  position: relative;
}

.about-content {
  width: 100%;
  margin: 3rem 0;
  position: relative;
  margin-bottom: 4rem;
  padding-right: 1rem;
  background-color: white;
}

section.about-content_bottom {
  background-color: white;
  padding-top: 3rem;
  padding-bottom: 4rem;
}

.about-content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
}
.about-content_section.orange-bg {
  background-color: var(--secondaryColor);
}
.about-content h1,
h3,
p,
a {
  color: var(--text-color-dark);
}
.about-content_bottom h1,
h3,
p,
a {
  color: var(--text-color-dark);
}
.subtitle-bottom {
  color: var(--text-color-light) !important;
}

.about-subtitle {
  margin-top: 2rem;
  display: flex;
}
.about-subtitle:hover {
  background-color: var(--blackBg);
  color: var(--secondaryColor);
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.5s ease-out;
}

.about-content_article p {
  margin-top: 1.2em;
}

/* > Tablet */
@media only screen and (min-width: 677px) {
  .about-content {
    margin: 0;
    padding-top: 4rem;
  }
  section.about-content_bottom {
    margin: 0;
    background-color: white;
    padding-top: 0rem;
    padding-left: 0;
    padding-bottom: 6rem;
  }
  .about-content_section {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
  }
  .about-content_section.orange-bg {
    background-color: var(--secondaryColor);
  }
  .about-content_article {
    margin-left: 2rem;
    margin-bottom: 8rem;
    width: 50%;
  }
}

/* > Big Desktop */
@media only screen and (min-width: 1024px) {
  .about-content_bottom {
    padding-bottom: 8rem;
  }
  .about-content_article {
    font-size: 1.5em;
    max-width: 100%;
    letter-spacing: 2px;
    line-height: 1.6em;
  }
  section.about-content_bottom {
    margin: 0;
    padding-left: 0;
  }
}
