.contact-form {
  width: 100%;
  margin: 3rem 0;
  position: relative;
  margin-bottom: 4rem;
  padding-top: 6rem;
  padding-bottom: 4rem;
}
.contact-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact-label {
  padding-bottom: 1.1rem;
  color: var(--darkGrey);
  text-align: left;
}

.contact-input-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.simple-input {
  border: 1px solid silver;
}
/* > Tablet */
@media only screen and (min-width: 677px) {
  .contact-form {
    width: 50%;
    /* min-width: -webkit-fill-available; */
  }
  .contact-input-group {
    align-items: left;
  }
}
@media only screen and (min-width: var(--minWidthDesktopLarge)) {
  .contact-form {
    min-width: auto;
  }
}
