.address-content {
  text-align: left;
  line-height: 1.3;
  color: var(--text-color-light);
  width: 50%;
  margin-left: 15%;
}
.address-content h4 {
  padding: 4px;
}

.address-highlight {
  background-color: var(--light-blackBg);
  display: inline;
}
