.landing-img-bg {
  background-image: url('../assets/images/skating-lake_crix.jpg');
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.landing-nav-wrapper {
  width: 100%;
  margin: auto;
  background-color: #010101;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.landing-titles-wrapper {
  width: fit-content;
  margin: 6rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.landing-buttons-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.main-title {
  color: #010101;
  text-align: center;
  margin: 4rem auto 0 auto;
  text-transform: uppercase;
  font-size: 8em;
  font-weight: 700;
  letter-spacing: 1px;
}
.main-subtitle {
  color: #010101;
  text-align: right;
  margin: 0.2rem 0 1rem 0;
  font-size: 2em;
  transition: all 0.5s ease-out;
}
.main-subtitle:hover {
  background-color: rgb(1, 1, 1, 0.8);
  color: orange;
  margin-right: 3rem;
  padding-right: 3rem;
  transition: all 1s ease-out;
}

@media only screen and (max-width: 650px) {
  .main-title {
    font-size: 2em;
  }
  .main-subtitle {
    font-size: 1em;
  }
  .landing-titles-wrapper {
    margin: 3rem auto;
  }
}

.bottom-line {
  position: absolute;
  bottom: 10%;
  width: 70%;
}
