.menu-items-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: right;
  padding-right: 20px;
  text-decoration: none;
  cursor: pointer;
  line-height: 0.2;
}
.menu-items-block {
  margin-right: 0.5rem;
  align-self: center;
  color: white;
}

.menu-item-link {
  display: inline-block;
  position: relative;
  width: fit-content;
  text-decoration: none;
  cursor: pointer;
  align-self: center;
  margin: 0 25px;
}
.menu-item-link:hover {
  padding-bottom: 4px;
  color: orange;
  transition: color 1s;
}
.menu-item-link:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: orange;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
.menu-item-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media only screen and (max-width: 650px) {
  .menu-items-block {
    margin-right: 0;
    width: 100%;
  }
}
