.portrait-flex {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100%;
  justify-content: space-evenly;
  padding-top: 8rem;
  padding-right: 1rem;
}

.portrait-flex_left {
  order: 1;
  padding-top: 5%;
  height: 400px;
  text-align: center;
  align-self: center;
}

.portrait-flex_right {
  order: 2;
  padding-top: 5%;
  height: 400px;
  text-align: center;
  align-self: center;
}

.boxed {
  border: 1px solid silver;
  border-radius: 2px;
  padding: 4rem;
  transition: all 0.2s ease-in-out;
}
.boxed:hover {
  transform: scale(1.1);
}
.boxed img {
  border-radius: 50%;
}
.portrait-below_text {
  font-size: 1.4em;
  color: var(--text-color-dark);
  align-self: center;
}

.social-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media only screen and (min-width: 677px) {
  .portrait-flex {
    flex-direction: row;
    flex-flow: row nowrap;

    padding-top: 6rem;
  }
  .portrait-flex_left {
    height: 450px;
    padding-top: 10%;
  }
  .portrait-flex_right {
    height: 450px;
    padding-top: 10%;
  }
}
@media only screen and (min-width: 1024px) {
  .portrait-flex_right {
    margin-bottom: 23%;
  }
  .portrait-flex_left {
    margin-bottom: 23%;
  }
}
