.column-2a {
  width: 45%;
  height: fit-content;
}
.skills-container {
  position: absolute;
  bottom: 8% !important;
  right: 5% !important;
  background-color: var(--light-grey);
  opacity: 0.9;
}

.cross:before {
  content: 'X';
  position: absolute;
  top: 3%;
  right: 3%;
}
.cross:hover {
  cursor: pointer;
  scale: 1.2;
  transition: scale 2 ease-out;
}
.skills-table {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--darkGrey);
  border-radius: var(--borderRadius);
  padding: 1rem;
}

@media only screen and (max-width: 677px) {
  .skills-table {
    flex-direction: column;

    padding: 0.2rem;
  }
  .column-2a {
    width: 100%;
  }
}
