.column-2a {
  float: left;
  width: 45%;
  height: fit-content;
  background-color: white;
}
.skills-container {
  position: absolute;
  bottom: 8% !important;
  right: 5% !important;
}
.skills-table {
  display: flex;
  flex-direction: row;
  border: 1px solid var(--darkGrey);
  border-radius: var(--borderRadius);
  padding: 1rem;
}
