
/* nav props applying in Navigation and BurgerMenu*/
* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}
body {
    height: 100%;
    position: relative;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
    align-self: center;
    /* margin: 2rem; */
}

nav a {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

header {
    width: 100%;
    background-color: rgb(236, 236, 236);
    display: grid;
    grid-template-columns: 1fr 1fr;

}

a:hover {
    color: #0a6284;
    text-shadow: -1px 0 whitesmoke, 0 1px whitesmoke, 1px 0 whitesmoke, 0 -1px whitesmoke;
    transition: all 0.8s ease;
}



/* .body-block {
    height: 100vh;
} */

/* DROWING CROSS */
span {
    position: relative;
    height: 65px;
    /* this can be anything */
    width: 65px;
    /* ...but maintain 1:1 aspect ratio */
    display: flex;
    flex-direction: column;
    justify-content: right;
    cursor: pointer;
}

span::before,
span::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 9px;
    /* cross thickness */
    background: #0a6284;
}

span::before {
    transform: rotate(45deg);
}

span::after {
    transform: rotate(-45deg);
}

/* END OF DROWING CROSS */




@media only screen and (max-width:650px) {

   

}