/* WEB UNIVERSAL COLOR PALETTE COMBINATION */
/* #1A2238   #9DAAF2     #FF6A3D #F4DB7D * { */
/* DARKBLUE  LIGHTBLUE   ORANGE  YELLOW * { */
/* WEB UNIVERSAL COLOR PALETTE COMBINATION */
/* #1A2238   #9DAAF2     #FF6A3D #F4DB7D * { */
/* DARKBLUE  LIGHTBLUE   ORANGE  YELLOW * { */
:root {
  --blackBg: #010101;
  --light-blackBg: #051423;
  --light-grey: #f2f5f7;
  --darkGrey: #b6b4b4;
  --primaryColor: #1a2238;
  --primaryLightColor: #9daaf2;
  --secondaryColor: #ff6a3d;
  --secondaryOrangeColor: #ff9800;
  --secondaryLightColor: #f4db7d;

  --text-color-dark: #223651;
  --text-color-light: #f6f6f6;

  --success-green: #03cea4;
  --error-red: #db3069;
  --alert-yellow: #fada5e;

  --borderRadius: 4px;

  --minWidthDesktopHuge: 1920px;
  --minWidthDesktopExtraLargePlus: 1670px;
  --minWidthDesktopExtraLarge: 1440px;
  --minWidthDesktopLarge: 1281px;
  --minWidthDesktopMiddle: 1200px;
  --minWidthIpadPro: 1024px;
  --maxWidthIpadPro: 1023px;
  --minWidthDesktop: 992px;
  --minWidthTablet: 768px;
  --maxWidthTablet: 767px;
  --minWidthPhoneMiddleLandscape: 640px;
  --minWidthPhoneMiddle: 576px;
  --minWidthPhoneRotated: 500px;
  --minWidthPhoneLastGeneration: 370px;
  --minWidthPhone: 320px;
}

* {
  box-sizing: border-box;
}

*:before,
*:after {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: 'Roboto', serif;
  font-size: 16px;
  margin: 0;
}
h1 {
  margin: 0.47em 0;
}

h2 {
  margin: 0.27em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Advent Pro', sans-serif;
  line-height: 1.2;
  font-weight: 400;
}
h5 {
  font-family: 'Advent Pro', sans-serif;
  line-height: 1;
  font-weight: 200;
}
h6 {
  font-family: 'Advent Pro', sans-serif;
  line-height: 1;
  font-weight: 200;
}

h1 {
  font-size: calc(80px + (45 - 35) * ((100vw - 600px) / (1600 - 900)));
}

h2 {
  font-size: calc(35px + (40 - 30) * ((100vw - 600px) / (1600 - 900)));
}

h2.tit-box {
  font-size: calc(30px + (35 - 25) * ((100vw - 600px) / (1600 - 900)));
}

h3 {
  font-size: calc(30px + (15 - 14) * ((100vw - 600px) / (1600 - 900)));
}
h4 {
  font-size: calc(20px + (11 - 7) * ((100vw - 600px) / (1600 - 900)));
}
h5 {
  font-size: calc(18px + (9 - 5) * ((100vw - 600px) / (1600 - 900)));
}
h6 {
  font-size: calc(17px + (8 - 4) * ((100vw - 600px) / (1600 - 900)));
}

h1 {
  font-size: 3rem;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5rem;
  margin: 0.67em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.03em;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', serif;
  line-height: 1.2;
  font-weight: 100;
}

h1 {
  font-size: calc(60px + (45 - 35) * ((100vw - 600px) / (1600 - 900)));
}

h2 {
  font-size: calc(35px + (40 - 30) * ((100vw - 600px) / (1600 - 900)));
}

h2.tit-box {
  font-size: calc(30px + (35 - 25) * ((100vw - 600px) / (1600 - 900)));
}

h3 {
  font-size: calc(30px + (15 - 14) * ((100vw - 600px) / (1600 - 900)));
}

ul {
  display: -webkit-flex;
  /* targets Chrome, Safar i */
  display: -ms-flexbox;
  /* targets IE10 */
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

li {
  text-decoration: none;
}

li::before {
  content: '•';
  color: var(--secondaryLightColor);
  padding-right: 11px;
}

/* nav props applying in Navigation and BurgerMenu*/

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  align-self: center;
  /* margin: 2rem; */
}

a {
  text-decoration: none;
  cursor: pointer;
}
a:hover {
  color: var(--primaryLightColor) !important;
  transition: color 1s;
}
a:not(.dont-underline):after {
  content: '';
  position: absolute;
  width: 5%;
  transform: scaleX(0);
  height: 2px;
  margin-top: 2px;
  /* bottom: 0;
  left: 0; */
  background-color: var(--secondaryLightColor);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}
a:not(.dont-underline):hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* .body-block {
    height: 100vh;
} */

textarea {
  height: 150px;
  padding: 12px 60px;
  margin-bottom: 2rem;
  border: 2px solid var(--darkGrey);
  border-radius: 4px;
  background-color: var(--light-grey);
  opacity: 0.8;
  resize: none;
  color: var(--text-color-dark);
  font-size: 16px;
}

input[type='text'] {
  padding: 12px 60px;
  margin: 1px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid var(--darkGrey);
  opacity: 0.8;
  color: var(--text-color-dark);
  font-size: 16px;
}

/* ADDRESS MOBILE-PHONES AND TABLETS*/

@media only screen and (max-width: 650px) {
  input[type='text'] {
    margin: 3px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--darkGrey);
    opacity: 0.8;
    color: var(--text-color-dark);
    font-size: 14px;
  }

  textarea {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--darkGrey);
    opacity: 0.8;
    color: var(--text-color-dark);
    font-size: 14px;
  }
}

/* ADDRESS TABLETS AND NORMAL PCS */

@media only screen and (max-width: 1200px) {
  input[type='text'] {
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--darkGrey);
    opacity: 0.8;
    color: var(--text-color-dark);
    font-size: 14px;
  }

  textarea {
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid var(--darkGrey);
    opacity: 0.8;
    color: var(--text-color-dark);
    font-size: 14px;
  }
}
