/* > Mobile */
.what-content {
  margin: 3rem 1rem;
}

.what-content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.what-content_article {
  text-align: left;
  color: #010101;
  max-width: 90%;
  font-size: 1.2em;
  line-height: 1.4em;
}
.what-content_article p {
  margin-top: 1.4em;
}

/* > Tablet */
@media only screen and (min-width: 677px) {
  .what-content {
    margin-left: 12rem;
  }
  .what-content_section {
    flex-direction: row;
    justify-content: space-around;
    margin: 0 1rem;
  }
  .what-content_article {
    font-size: 1.4em;
    max-width: 90%;
    letter-spacing: 1px;
    line-height: 1.6em;
  }
}

/* > Big Desktop */
@media only screen and (min-width: 1024px) {
  .what-content_article {
    font-size: 1.5em;
    max-width: 100%;
    letter-spacing: 2px;
    line-height: 1.8em;
  }
}
