/* > Mobile */
.what-content {
  margin: 3rem 1rem;
  position: relative;
}

.what-content_section {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.what-title {
  color: #696969;
  opacity: 0.9;
}
.what-subtitle {
  margin-top: 2rem;
  display: flex;
}
.what-subtitle:hover {
  background-color: rgb(1, 1, 1, 0.8);
  color: #ff9933;
  padding-left: 3rem;
  padding-right: 3rem;
  transition: all 0.5s ease-out;
}
.what-content_article {
  color: #010101;
}
.what-content_article p {
  margin-top: 1.2em;
}

/* > Tablet */
@media only screen and (min-width: 677px) {
  .what-content {
    margin: 6rem 2rem;
  }
  .what-content_section {
    flex-direction: row;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 1rem;
  }
  .what-content_article {
    margin-left: 2rem;
  }
}

/* > Big Desktop */
@media only screen and (min-width: 1024px) {
  .what-content_article {
    font-size: 1.5em;
    max-width: 100%;
    letter-spacing: 2px;
    line-height: 1.6em;
  }
}
